:root {
  font-family: Inter, Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  margin: 0;
  background: #000;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

.ui {
  position: fixed;
  left: 12px;
  top: 12px;
  color: #fff;
  font-family: Inter, Roboto, Arial;
  z-index: 10;
}

.ui small {
  opacity: 0.7;
}
